.intro {
    background-image: url("./imagesCWOY/Layer\ 21.png");
    width:1600px;
    height:900px;
}
.head {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.head2 {
    color: #ffffff;
    font-size: 18px;
    font-family: Lato, sans-serif;
}
.head3 {
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.2);
    width: 831px;
    height: 155px;
    font-size: 54px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    margin-top: 20px;
}

.slogli1 {
    color: #f1ad1d;
    width: 100px;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
}
.slogli2 {
    color: #ffffff;
    display: inline-block;
    width: 620px;
    text-align: right;
    padding: 0px 0px 0px 0px;
}
.slogan {padding: 520px 0px 0px 210px;}

/*second section*/

.section2{
    position: relative;
    left: 9%;
}
.name-title {
    color: #333333;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
}
.title-description {
    color: #4d4943;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
hr {
    margin: 60px auto;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
    text-align: center;
}
.insignia {
    text-align: center;
}
.menu{
    width: 1700px;
    margin: 100px;
}
.menu_logo{
    color: #f1ad1d;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 700;
    font-family: Montserrat, sans-serif;
    text-align: left;
    margin-left: -10px;
    display: inline-block;
    width: 150px;
}
.menu_list{
    text-transform: uppercase;
    text-align: right;
    display: inline-block;
    margin: 0px 0px 0px 70px;
    width: 900px;
}
.menu_item{
    color: #3d3d3d;
    display: inline-block;
    text-align: left;
    margin-right: 50px;
    font-family: Lato, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.menu_item:hover {
    color:  #f1ad1d;
}
.menu_arrow{
    font-size: 0.6em;
}
.line{
    background-color: #f1ad1d;
    width: 1160px;
    height: 3px;
    border: 0px;
    text-align: center;
    margin-top: -80px;
}

/*third section*/

.section3{
    position: relative;
    left: 15%;
}
.images_block{
    float: left;
}
.images12{
    margin: 0px 0px 0px 0px;
    
}
.image1{
    display: inline-block;
}
.image2{
    display: inline-block;
    margin-left: -100px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.image3{
    display: inline-block;
}
.image4{
    display: inline-block;
    margin-left: 20px;
}
.Cons{
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    top: 0px;
    left: 15px;
}
.image5{
    background-image: url("./imagesCWOY/Shape\ 28.png");
    width: 117px;
    height: 42px;
    color: white;
    display: inline-block;
    position: relative;
    top: -25px;
    left: -262px;
}
.btext_headline{
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 20 px;
    font-weight: 700 px;
    color: #333333;
    vertical-align: center;
}
.bth{
    color: #f1ad1d;
}
.btext1{
    width: 1150px;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #505050;
    text-align: justify;
    line-height: 1.5em;
}
.btext2{
    width: 1150px;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #505050;
    text-align: justify;
    line-height: 1.5em;
    margin-top: 25px;
    margin-bottom: 35px;
}
.button{
    width: 170px;
    height: 50px;
    background-image: url("./imagesCWOY/Shape\ 26.png");
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 14px;
    font-family: Lato, sans-serif;
    font-weight: 700px;
}
.btt{
    margin-top: 18px;
}
.speed{
    width: 1600px;
    height: 380px;
    background-image: url("./imagesCWOY/Layer\ 22.png");
}
.speed_header{
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.speed_h{
    text-align: center;
    padding-top: 150px;
}

/*forth section*/
.section4{
    position: relative;
    left: 9%;
}

.team_headline{
    color: #333333;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
}
.team{
    margin: 0px 0px 0px 0px;
    max-width: 1600px;
}
.team1{
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
.team2{
    margin: -74px 0px 0px 0px;
    display: inline-block;
    max-width: 1600px;
}
.diana{
    background-image: url("./imagesCWOY/Layer\ 27.png");
    display: inline-block;
    width: 193px;
    height: 178px;
}
.nametag{
    display: inline-block;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    left: -110px;
    bottom: 15px;
}
.team_name_tag{
    display: inline-block;
    position: relative;
    top: -10px;
    left: -184px;
}
.nametag2{
    display: inline-block;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    left: -110px;
    bottom: 15px;
}
.team_name_tag2{
    display: inline-block;
    position: relative;
    top: -70px;
    left: 988px;
    right: 0px;
}
.gladys{
    background-image: url("./imagesCWOY/Layer\ 28.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -199px;
}
.kenneth{
    background-image: url("./imagesCWOY/Layer\ 29.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -218px;
}
.creig{
    background-image: url("./imagesCWOY/Layer\ 30.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -218px;
}
.robert{
    background-image: url("./imagesCWOY/Layer\ 31.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -225px;
}
.katherin{
    background-image: url("./imagesCWOY/Layer\ 32.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -210px;
}
.porter{
    background-image: url("./imagesCWOY/Layer\ 33.png");
    display: inline-block;
    width: 193px;
    height: 178px;
}
.dennis{
    background-image: url("./imagesCWOY/Layer\ 34.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -193px;
}
.mark{
    background-image: url("./imagesCWOY/Layer\ 35.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -214px;
}
.thomas{
    background-image: url("./imagesCWOY/Layer\ 36.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -201px;
}
.joshua{
    background-image: url("./imagesCWOY/Layer\ 37.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -208px;
}
.angel{
    background-image: url("./imagesCWOY/Layer\ 38.png");
    display: inline-block;
    width: 193px;
    height: 178px;
    margin-left: -208px;
}
.gold_headline{
    color: #333333;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 78px;
    text-align: center;
}

.skills{
    width: 1600px;
    text-align: center;
}
.skills_block1{
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
.skills_block1_logo{
    background-image: url("./imagesCWOY/Shape\ 29.png");
    width: 271px;
    height: 56px;
}
.skills_headline1{
    color: white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: 18px;
}
.skills_block1_pic{
    background-image: url("./imagesCWOY/lamp.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 271px;
    height: 100px;
}
.skills_block1_text{
    width: 271px;
    height: 61px;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #505050;
    text-align: center;
}
.skills_block1_shortline{
    width: 271px;
    max-height: 30px;
    margin-top: -50px;
}
.skills_block1_offer{
    width: 271px;
    height: 80px;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-weight: 300;
    color: #505050;
    text-align: center;
    line-height: 1.5em;
    margin-top: -45px;
}
.skills_block1_longline{
    width: 270px;
    height: 10px;
    margin-top: -10px;
}
.longline{
    background-color: #333333;
    width: 270px;
}
.skills_block2{
    display: inline-block;
}
.skills_block2_pic{
    background-image: url("./imagesCWOY/cloud.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 271px;
    height: 100px;
}
.skills_block3{
    display: inline-block;
}
.skills_block3_pic{
    background-image: url("./imagesCWOY/cup.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 271px;
    height: 100px;
}
.skills_block4{
    display: inline-block;
}
.skills_block4_pic{
    background-image: url("./imagesCWOY/radioactivity.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 271px;
    height: 100px;
}

/*fifth section*/

.media_pic {
    width: 1600px;
    height: 475px;
    background-image: url("./imagesCWOY/Layer\ 21.png");
    background-position: 50% 29%;
}
.media_color {
    background-color: rgba(0, 0, 0, 0.4);
    width: 1600px;
    height: 475px;
}
.media_h {
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
}
.mnhead{
    text-align: center;
    padding-top: 170px;
}
.mnh {
    color: #f1ad1d;
}
.mline{
    margin-top: -19px;
}
.media_logotypes{
    display: inline-block;
    padding: 0px 0px 0px 380px;
    margin-top: -48px;
    width: 1200px;
    height: 120px;
    text-align: justify;
}
.logo18{
    display: inline-block;
    position: relative;
    top: 15px;
    left: 0px;
}
.logo8{
    display: inline-block;
    position: relative;
    top: 27px;
    left: 52px;
}
.logo17{
    display: inline-block;
    position: relative;
    top: 20px;
    left: 113px;
}
.logo3{
    display: inline-block;
    position: relative;
    top: 30px;
    left: 170px;
}

.truth_headline{
    color: #333333;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
}

.section6{
    position: relative;
    left: 9%;
}
.truth{
    position: relative;
    left: 9%;
}
.truth_block{
    width: 1600px;
}
.truth_block1{
    display: inline-block;
}
.quote_sign{
    display: inline-block;
}
.quote_line{
    display: inline-block;
    background-color: #f1ad1d;
    width: 335px;
    height: 3px;
    border: 0px;
    text-align: left;
    margin-left: 10px;
}
.truth_quote_text1{
    width: 400px;
    height: 50px;
    font-family: Lato, sans-serif;
    font-weight: 300;
    font-size: 14px;
    text-align: justify;
    line-height: 1.5em;
    color: #5b5b5b; 
}
.quote_line2{
    display: inline-block;
    background-color: #5b5b5b;
    width: 400px;
    height: 3px;
    border: 0px;
    text-align: center;
    margin-top: 30px;
}
.truth_block2{
    display: inline-block;
    margin-left: 25px;
}
.truth_block3{
    display: inline-block;
    margin-left: 25px;
}

.truth_photos{
    width: 1600px;
}
.truth_photo1{
    margin: 10px 0px 0px 0px;
    display: inline-block;
    width: 400px;
}
.truth_quote_photo1{
    display: inline-block;
    margin-top: 0px;
}
.truth_quote_photo1_text{
    display: inline-block;
}
.tqtext1{
    line-height: 1em;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #313131;
}
.tqtext1_jobtitle{
    color: #5b5b5b;
    font-weight: 300;
}

.truth_photo2{
    margin: 10px 0px 0px 26px;
    display: inline-block;
    width: 400px;
}
.truth_quote_photo2{
    display: inline-block;
    margin-top: 0px;
}
.truth_quote_photo2_text{
    display: inline-block;
}
.tqtext2{
    line-height: 1em;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #313131;
}
.tqtext2_jobtitle{
    color: #5b5b5b;
    font-weight: 300;
}

.truth_photo3{
    margin: 10px 0px 0px 26px;
    display: inline-block;
    width: 400px;
}
.truth_quote_photo3{
    display: inline-block;
    margin-top: 0px;
}
.truth_quote_photo3_text{
    display: inline-block;
}
.tqtext3{
    line-height: 1em;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: #313131;
}
.tqtext3_jobtitle{
    color: #5b5b5b;
    font-weight: 300;
}

.section7{
    width: 1600px;
    position: relative;
    left: 9%;
    top: 200px;
}

.goods{
    width: 100%;
    
}

.email_subscription{
    width: 1600px;
    height: 70px;
    text-align: center;
}

.email_input{
    width: 700px;
    height: 64px;
    color: #747474;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    text-align: left;
    padding: 0px 0px 0px 20px;
    display: inline-block;
}
.button_email_sbscrb{
    background-color: #f1ad1d;
    width: 172px;
    height: 68px;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: -5px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    border: 0px;
}
.goods2{
    width: 100%;
    margin-top: 175px;
}

.section8{
    width: 1600px;
    display: inline-block;
    position: relative;
    left: 20%;
}
.message{
    width: 680px;
    margin: 200px 0px 0px 0px;
    display: inline-block;
}
.send{
    width: 380px;
    height: 56px;
    background-color: #333333;
}
.send_us{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0px 0px 20px;
}
.message_text{
    width: 550px;
    font-family: Lato, sans-serif;
    color: #505050;
    font-weight: 300;
    font-size: 14px;
    margin: 25px 0px 25px 0px;
}
.name_field{
    width: 270px;
    height: 45px;
    color: #505050;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    padding: 0px 0px 0px 20px;
    display: inline-block;
}
.email_field{
    width: 270px;
    height: 45px;
    color: #505050;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    padding: 0px 0px 0px 20px;
    margin-left: 25px;
    display: inline-block;
}
.message_field{
    width: 593px;
    height: 186px;
    color: #505050;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    margin-top: 20px;
    padding: 20px 0px 0px 20px;
}
.reset_button{
    margin-top: 25px;
    width: 130px;
    height: 43px;
    background-color: #f1ad1d;
    border: 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.send_button{
    margin: 25px 0px 0px 25px;
    width: 130px;
    height: 43px;
    background-color: #f1ad1d;
    border: 0px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
}
.touch{
    width: 680px;
    height: 480px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
}
.get_touch{
    width: 246px;
    height: 56px;
    background-color: #333333;
}
.get_in_touch{
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: 700;
    font-size: 18px;
    padding: 20px 0px 0px 20px;
}
.touch_text{
    width: 550px;
    font-family: Lato, sans-serif;
    color: #505050;
    font-weight: 300;
    font-size: 14px;
    margin: 25px 0px 20px 0px;
}

.contact1{
    margin: 0px 0px 0px 0px;
}
.contpic{
    padding: 10px 0px 0px 15px;
}
.contact2{
    margin: 10px 0px 0px 0px;
}
.contact3{
    margin: 10px 0px 0px 0px;
}
.conpic3{
    padding: 10px 0px 0px 12px;
    color: #f1ad1d;
}
.contact4{
    margin: 10px 0px 0px 0px;
}

.contact_sq{
    width: 39px;
    height: 37px;
    background-color: #333333;
    display: inline-block;
}
.contact_text{
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #505050;
    margin-left: 5px;
}

.follow{
    width: 246px;
    height: 56px;
    background-color: #333333;
    margin: 46px 0px 0px 0px;
}

.contact_links{
    width: 680px;
    height: 70px;
    margin: 0px 0px 0px 0px;
}
.fb_link{
    margin: 25px 12px 0px 0px;
    padding: 0px 0px 3px 0px;
    width: 45px;
    height: 40px;
    background-color: #f1ad1d;
    border: 0px;
    display: inline-block;
}
.fbpic{
    padding: 12px 0px 0px 18px;
}
.tw_link{
    margin: 25px 12px 0px 0px;
    padding: 3px 0px 0px 0px;
    width: 45px;
    height: 40px;
    background-color: #f1ad1d;
    border: 0px;
    display: inline-block;
}
.twpic{
    padding: 12px 0px 0px 15px;
}
.gp_link{
    margin: 25px 12px 0px 0px;
    padding: 0px 0px 2px 0px;
    width: 45px;
    height: 40px;
    background-color: #f1ad1d;
    border: 0px;
    display: inline-block;
}
.gppic{
    padding: 12px 0px 0px 15px;
}
.rss_link{
    margin: 25px 12px 0px 0px;
    padding: 2px 0px 0px 0px;
    width: 45px;
    height: 40px;
    background-color: #f1ad1d;
    border: 0px;
    display: inline-block;
}
.rsspic{
    padding: 12px 0px 0px 15px;
}
.themes{
    margin: 215px 0px 0px 0px;
    width: 1600px;
    height: 485px;
    background-image: url("./imagesCWOY/Layer\ 59.png")
}
.themes_headline{
    color: #ffffff;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    padding: 110px 0px 0px 0px;
}
.themes-description {
    color: #ffffff;
    font-family: Lato, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
.brands{
    margin: 123px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 1600px;
    height: 480px;
}
.brands_block{
    text-align: center;
}
.brand_logo{
    display: inline-block;
}
.goods3{
    width: 1600px;
    margin-top: 167px;
    text-align: center;
}
.columns_block{
    width: 1600px;
    display: flex;
    justify-content: center;
}
.column_left{
    float: left;
    width: 372px;
}
.column_mid{
    float: left;
    width: 372px;
    margin-left: 30px;
}
.column_right{
    float: left;
    width: 372px;
    margin-left: 30px;
}
.sub_head{
    width: 372px;
    height: 35px;
    text-align: left;
    margin-top: 5px;
}
.grey_square{
    display: inline-block;
}
.marker{
    width: 30px;
    height: 30px;
    background-image: url("./imagesCWOY/marker.png");
    background-size: 45%;
    background-repeat: no-repeat;
    background-position-y: 45%;
    margin: 0px 0px 0px -28px;
    display: inline-block;
}
.sub_head_text{
    display: inline-block;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    position: relative;
    top: -5px;
}
.columns_small_text{
    width: 370px;
    font-family: Lato, sans-serif;
    color:  #505050;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: left;
}
.date_readmore_block{
    width: 370px;
    height: 40px;
    border-top: 1px solid #333333;
    border-bottom: 3px solid #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date_article{
    text-transform: uppercase;
    text-align: left;
    font-family: Lato, sans-serif;
    color:  #505050;
    font-size: 14px;
}
.read_more{
    text-transform: uppercase;
    text-align: right;
    font-family: Lato, sans-serif;
    color:  #505050;
    font-size: 14px;
    text-decoration: none;
}
.readmore{
    text-decoration: none;
}
.left_column_bottom{
    margin-top: 32px;
}
.audio_block{
    margin-top: 35px;
}
.light_grey_block{
    width: 370px;
    height: 157px;
    background-color: #dbdbdb;
    text-align: left;
    margin-top: 34px;
    margin-bottom: 10px;
}
#light_grey_quote{
    font-family: OpenSansLight, sans-serif;
    color:  #666666;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-style: italic;
    font-weight: 100;
    text-align: left;
    padding: 20px;
}
#light_grey_quote_author{
    font-family: OpenSansLight, sans-serif;
    color:  #9c9b9b;
    font-size: 12px;/* Приближение из-за подстановки шрифтов */
    font-style: italic;
    font-weight: 100;
    text-align: left;
    padding: 0px 0px 0px 20px;
}
.light_grey_quote_sign{
    position:relative;
    top: -50px;
    left: 295px;
}
.load_more{
    width: 1600px;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.load_more_button{
    width: 231px;
    height: 51px;
    background-color: #f1ad1d;
    text-align: center;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    display: flex;
    justify-content: center;
    align-items: center;
}
.tree_photo{
    width: 1600px;
    height: 380px;
    background-image: url("./imagesCWOY/Layer63.png");
    display: flex;
    justify-content: center;
    align-items: center;
}
.theme_block{
    width: 900px;
    height: 190px;
    text-align: center;
}
.buy_theme{
    color: white;
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 700;
}
.buy_link{
    text-align: center;
}
.buy_button{
    width: 179px;
    height: 52px;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buy_button_container{
    width: 900px;
    display: flex;
    justify-content: center;
}
.buy_link_text{
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: Lato, sans-serif;
    font-weight: 700;
}
.great_work{
    width: 1600px;
    height: 289px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.great_work_container{
    height: 160px;
    text-align: center;
}
.bottom_nav_block{
    width: 1600px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_nav{
    width: 900px;
    height: 84px;
    display: flex;
    justify-content: space-between;
}
.bottom_nav_link{
    height: 39px;
    border: 1px solid #333333;
    margin-left: 15px;
    padding: 0px 40px 0px 40px;
    text-align: center;
    font-family: Lato;
    color:  #111111;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    display: flex;
    align-items: center;
}
.bottom_nav_link:hover{
    height: 39px;
    border: 1px solid #333333;
    margin-left: 15px;
    padding: 0px 40px 0px 40px;
    text-align: center;
    font-family: Lato;
    color:  #f1ad1d;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 18px;/* Приближение из-за подстановки шрифтов */
    display: flex;
    align-items: center;
    background-color: #333333;
}
a{
    text-decoration: none;
}
.footer{
    width: 1600px;
    height: 222px;
    text-align: center;
}
.pre_footer{
    width: 1600px;
    height: 79px;
}
.get_map_block{
    width: 1600px;
    height: 63px;
    background-color: #333333;
    color:white;
    font-family: Montserrat, sans-serif;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}
.copyright{
    width: 1600px;
    height: 60px;
    font-family: Lato;
    color:  #333333;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 12px;/* Приближение из-за подстановки шрифтов */
    margin-top: 30px;
}
.map_hl{
    color: #f1ad1d;
    margin-left: 5px;
}
.collage{
    width: 1600px;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collage_block{
    display: grid;
    grid-template-columns: repeat(4, 271px);
    grid-template-rows: repeat(3, 281px);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.grid_1_1{
    border: 2px solid #333333;
    background-color: white;
    text-align: center;
}
.portfolio_style_head{
    font-family: Lato;
    color:  #111111;
    font-size: 18px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    margin-top: 40px;
}
.portfolio_line{
    height: 20px;
}
.hrline {
    margin: 30px auto;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
    text-align: center;
}
.portfolio_style_text{
    font-family: Lato, sans-serif;
    color:  #5b5b5b;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    text-align: center;
}
.portfolio_style_link{
    display: flex;
    justify-content: center;
}
.read_more_button{
    width: 141px;
    height: 39px;
    margin-top: 12px;
    background-color: #f1ad1d;
    text-align: center;
    color: white;
    font-family: Lato, sans-serif;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid_1_2{
    background-image: url('./imagesCWOY/Layer40.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_3{
    background-image: url('./imagesCWOY/Layer41.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_4{
    background-image: url('./imagesCWOY/Layer42.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_5{
    background-image: url('./imagesCWOY/Layer43.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_6{
    background-image: url('./imagesCWOY/Layer44.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_7{
    background-image: url('./imagesCWOY/Layer45.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_8{
    background-image: url('./imagesCWOY/Layer46.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_9{
    background-image: url('./imagesCWOY/Layer47.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_10{
    background-image: url('./imagesCWOY/Layer48.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_11{
    background-image: url('./imagesCWOY/Layer49.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.grid_1_12{
    background-image: url('./imagesCWOY/Layer50.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}